@model IEnumerable<PhoneInfo.ApplicationLogic.DataModel.Phone>

@{
    ViewData["Title"] = "HuaweiP40Pro";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/lightbox.min.css">
<!-- //Custom Theme files -->
<!-- /Fonts -->
@*<link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">*@


<!-- Main body-->
<div class="body_agileinfo_topf editContent">
    <div class="container py-md-5 spectrumHuawei">
        <!-- header specification -->
        <div class="row">

            <div class="col-sm-4">
                <!--Phone image-->
                <center><h2>Huawei P40 Pro</h2></center>
                <a class="image-link" href="~/content/static/Huawei P40 Pro (1).jpg" data-lightbox="Note10+"><img class="img-fluid mt-4" src="~/content/static/Huawei P40 Pro (1).png" alt=""></a>
                <a class="image-link" href="~/content/static/Huawei P40 Pro (2).jpg" data-lightbox="Note10+"></a>
                <a class="image-link" href="~/content/static/Huawei P40 Pro (3).jpg" data-lightbox="Note10+"></a>
            </div>

            <div class="mycol-sm-6 test" style="margin-top:5%; width:66%">
                <!--Phone short description-->
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3><a class="fa fa-calendar">Released 2020, April 7</a></h3>
                </div>
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3><a class="fa fa-tablet">209g, 9mm thickness</a></h3>
                </div>
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3><a class="fa fa-angle-left"></a> <a class="fa fa-angle-right">Android 10.0: EMUI 10.1</a></h3>
                </div>
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3><a class="fa fa-microchip">128GB/256GB/512GB storage, NM</a></h3>
                </div>
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3>
                        <a style="margin-right:20%"> <span class="fa fa-expand"></span></a>
                        <a style="margin-right:20%"> <span class="fa fa-camera-retro"></span></a>
                        <a style="margin-right:20%"> <span class="fa fa-microchip"></span></a>
                        <a style="margin-right:20%"> <span class="fa fa-battery-2"></span></a>
                    </h3>
                </div>
                <div class="mycol-sm-6">
                    <h4>
                        <a> 6,58"</a>
                        <a style="margin-left:15%"> 50MP</a>
                        <a style="margin-left:16%"> 8GB RAM</a>
                        <a style="margin-left:9%"> 4200 mAh</a>
                    </h4>
                </div>
                <div class="mycol-sm-4">
                    <a> 1200x2640 pixels</a>
                    <a style="margin-left:7%"> 2160p</a>
                    <a style="margin-left:18.5%"> HiSilicon Kirin 990 5G</a>
                    <a style="margin-left:3%"> Li-Po</a>
                </div>
                <div class="container">
                    <a class="pagesbutton1 fa fa-long-arrow-up" asp-controller="Phones" asp-action="Compare"><span class="fa fa-long-arrow-down"></span>Compare</a>
                    <a class="pagesbutton2 fa fa-commenting" asp-controller="Phones" asp-action="Index">Opinions</a>
                </div>
            </div><!--/Phone short description-->
        </div>
    </div> <!-- /header specification -->

    <div class="container specbackground">
        <!-- body/table specification -->
        <table>
            <tr>
                <th> <font color="red">NETWORK</font> </th>
                <th>Technology</th>
                <th>GSM / HSPA / LTE / 5G</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">LAUNCH</font> </th>
                <th>Announced</th>
                <th>2020, March</th>
            </tr>
            <tr>
                <th>  </th>
                <th>Status</th>
                <th>Available, Released 2020, April</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Body</font> </th>
                <th>Dimensions</th>
                <th>158.2 x 72.6 x 9 mm (6.23 x 2.86 x 0.35 in)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Weight</th>
                <th>209 g (7.37 oz)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Build</th>
                <th>Glass front, glass back, aluminum frame</th>
            </tr>
            <tr>
                <th> </th>
                <th>SIM</th>
                <th>	Single SIM (Nano-SIM/eSIM) or Hybrid Dual SIM (Nano-SIM, dual stand-by)</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Display</font> </th>
                <th>Type</th>
                <th>OLED capacitive touchscreen, 16M colors</th>
            </tr>
            <tr>
                <th> </th>
                <th>Size</th>
                <th>	6.58 inches, 105.2 cm2 (~91.6% screen-to-body ratio)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Resolution</th>
                <th>	1200 x 2640 pixels (~441 ppi density)</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>90Hz</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Platform</font> </th>
                <th>OS</th>
                <th>Android 10.0 (AOSP + HMS); EMUI 10.1</th>
            </tr>
            <tr>
                <th> </th>
                <th>Chipset</th>
                <th>HiSilicon Kirin 990 5G (7 nm+)</th>
            </tr>
            <tr>
                <th> </th>
                <th>CPU</th>
                <th>	Octa-core (2x2.86 GHz Cortex-A76 & 2x2.36 GHz Cortex-A76 & 4x1.95 GHz Cortex-A55)</th>
            </tr>
            <tr>
                <th> </th>
                <th>GPU</th>
                <th>	Mali-G76 MP16</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Memory</font> </th>
                <th>Card slot</th>
                <th>NM (Nano Memory), up to 256GB (uses shared SIM slot)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Internal</th>
                <th>128GB 8GB RAM, 256GB 8GB RAM, 512GB 8GB RAM</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Main Camera</font> </th>
                <th>Quad</th>
                <th>50 MP, f/1.9, 23mm (wide), 1/1.28", 2.44µm, omnidirectional PDAF, OIS</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>Periscope 12 MP, f/3.4, 125mm (telephoto), PDAF, OIS, 5x optical zoom</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>40 MP, f/1.8, 18mm (ultrawide), 1/1.54", PDAF</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>TOF 3D, (depth)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Video</th>
                <th>2160p@30/60fps, 1080p@30/60fps, 720@7680fps, 1080p@960fps, HDR; gyro-EIS</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Selfie Camera</font> </th>
                <th>Single</th>
                <th>32 MP, f/2.2, 26mm (wide), 1/2.8", 0.8µm, AF</th>
            </tr>
            <tr>
                <th> </th>
                <th>Video</th>
                <th>2160p@30/60fps, 1080p@30/60fps</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Sound</font> </th>
                <th>Loudspeaker</th>
                <th>Yes</th>
            </tr>
            <tr>
                <th> </th>
                <th>3.5mm jack</th>
                <th>NO</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>32-bit/384kHz audio</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Features</font> </th>
                <th>Sensors</th>
                <th>	Infrared face recognition, fingerprint (under display, optical), accelerometer, gyro,</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>proximity, compass, color spectrum</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Battery</font> </th>
                <th>Charging</th>
                <th>Non-removable Li-Po 4200 mAh battery</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>Fast charging 40W</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>Fast wireless charging 27W</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>Fast reverse wireless charging 27W</th>
            </tr>




        </table>
    </div> <!-- /body/table specification -->
</div>


<!-- Font-Awesome-Icons-CSS -->
<script src="~/lib/bootstrap/dist/js/lightbox-plus-jquery.min.js"></script>













@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PhoneId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PhoneId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PhoneId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
