@model IEnumerable<PhoneInfo.ApplicationLogic.DataModel.Phone>

@{
    ViewData["Title"] = "LgV60";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/lightbox.min.css">
<!-- //Custom Theme files -->
<!-- /Fonts -->
@*<link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">*@


<!-- Main body-->
<div class="body_agileinfo_topf editContent">
    <div class="container py-md-5 spectrumLgV60">
        <!-- header specification -->
        <div class="row">

            <div class="col-sm-4">
                <!--Phone image-->
                <center><h2>Lg V60 ThinQ 5G</h2></center>
                <a class="image-link" href="~/content/static/LgV60 (1).jpg" data-lightbox="Note10+"><img class="img-fluid mt-4" src="~/content/static/LgV60 (1).png" alt="" width="320"></a>
                <a class="image-link" href="~/content/static/LgV60 (2).jpg" data-lightbox="Note10+"></a>
                <a class="image-link" href="~/content/static/LgV60 (3).jpg" data-lightbox="Note10+"></a>
            </div>

            <div class="mycol-sm-6 test" style="margin-top:5%; width:66%">
                <!--Phone short description-->
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3><a class="fa fa-calendar">Released 2020, March</a></h3>
                </div>
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3><a class="fa fa-tablet">218g, 8.9mm thickness</a></h3>
                </div>
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3><a class="fa fa-angle-left"></a> <a class="fa fa-angle-right">Android 10.0</a></h3>
                </div>
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3><a class="fa fa-microchip">128GB storage, microSDXC</a></h3>
                </div>
                <div class="mycol-sm-6" style="margin-bottom:4%">
                    <h3>
                        <a style="margin-right:20%"> <span class="fa fa-expand"></span></a>
                        <a style="margin-right:20%"> <span class="fa fa-camera-retro"></span></a>
                        <a style="margin-right:20%"> <span class="fa fa-microchip"></span></a>
                        <a style="margin-right:20%"> <span class="fa fa-battery-2"></span></a>
                    </h3>
                </div>
                <div class="mycol-sm-6">
                    <h4>
                        <a> 6,8"</a>
                        <a style="margin-left:17%"> 64MP</a>
                        <a style="margin-left:16%"> 8GB RAM</a>
                        <a style="margin-left:8%"> 5000 mAh</a>
                    </h4>
                </div>
                <div class="mycol-sm-4">
                    <a> 1080x2460 pixels</a>
                    <a style="margin-left:7%"> 4320p</a>
                    <a style="margin-left:18.5%"> Snapdragon 865</a>
                    <a style="margin-left:7%"> Li-Po</a>
                </div>
                <div class="container">
                    <a class="pagesbutton1 fa fa-long-arrow-up" asp-controller="Phones" asp-action="Compare"><span class="fa fa-long-arrow-down"></span>Compare</a>
                    <a class="pagesbutton2 fa fa-commenting" asp-controller="Phones" asp-action="Index">Opinions</a>
                </div>
            </div><!--/Phone short description-->
        </div>
    </div> <!-- /header specification -->

    <div class="container specbackground">
        <!-- body/table specification -->
        <table>
            <tr>
                <th> <font color="red">NETWORK</font> </th>
                <th>Technology</th>
                <th>GSM / CDMA / HSPA / EVDO / LTE / 5G</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">LAUNCH</font> </th>
                <th>Announced</th>
                <th>2020, February</th>
            </tr>
            <tr>
                <th>  </th>
                <th>Status</th>
                <th>Available, Released 2020, March</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Body</font> </th>
                <th>Dimensions</th>
                <th>169.3 x 77.6 x 8.9 mm (6.67 x 3.06 x 0.35 in)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Weight</th>
                <th>218 g (7.69 oz)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Build</th>
                <th>Glass front (Gorilla Glass 5), glass back (Gorilla Glass 6), aluminum frame</th>
            </tr>
            <tr>
                <th> </th>
                <th>SIM</th>
                <th>Single SIM (Nano-SIM) or Hybrid Dual SIM (Nano-SIM, dual stand-by)</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Display</font> </th>
                <th>Type</th>
                <th>P-OLED capacitive touchscreen, 16M colors</th>
            </tr>
            <tr>
                <th> </th>
                <th>Size</th>
                <th>6.8 inches, 109.8 cm2 (~83.6% screen-to-body ratio)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Resolution</th>
                <th>1080 x 2460 pixels (~395 ppi density)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Protection</th>
                <th>Corning Gorilla Glass 5</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Platform</font> </th>
                <th>OS</th>
                <th>Android 10.0</th>
            </tr>
            <tr>
                <th> </th>
                <th>Chipset</th>
                <th>Qualcomm SM8250 Snapdragon 865 (7 nm+)</th>
            </tr>
            <tr>
                <th> </th>
                <th>CPU</th>
                <th>Octa-core (1x2.84 GHz Kryo 585 & 3x2.42 GHz Kryo 585 & 4x1.8 GHz Kryo 585)</th>
            </tr>
            <tr>
                <th> </th>
                <th>GPU</th>
                <th>Adreno 650</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Memory</font> </th>
                <th>Card slot</th>
                <th>microSDXC (uses shared SIM slot) - dual-SIM model</th>
            </tr>
            <tr>
                <th> </th>
                <th>Internal</th>
                <th>128GB 8GB RAM</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Main Camera</font> </th>
                <th>Quad</th>
                <th>64 MP, f/1.8, 27mm (standard), 1/1.72", 0.8µm, Dual pixel PDAF, OIS</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>13 MP, f/1.9, 12mm (ultrawide), 1/3.4", 1.0µm</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>0.3 MP, TOF 3D, f/1.4, (depth)</th>
            </tr>
            <tr>
                <th> </th>
                <th>Video</th>
                <th>4320p@30fps, 2160p@30/60fps, 1080p, HDR10+, 24-bit/192kHz stereo sound rec., gyro-EIS</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Selfie Camera</font> </th>
                <th>Single</th>
                <th>10 MP, f/1.9, 30mm (standard), 1/3.1", 1.22µm</th>
            </tr>
            <tr>
                <th> </th>
                <th>Video</th>
                <th>2160p@30fps, gyro-EIS</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Sound</font> </th>
                <th>Loudspeaker</th>
                <th>Yes, with stereo speakers</th>
            </tr>
            <tr>
                <th> </th>
                <th>3.5mm jack</th>
                <th>Yes</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>32-bit/384kHz audio</th>
            </tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Features</font> </th>
                <th>Sensors</th>
                <th>	Fingerprint (under display, optical), accelerometer, gyro, proximity, compass, barometer</th>
            </tr>
            <tr>

            <tr style="border-bottom: 1px solid lightgrey;">
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th> <font color="red">Battery</font> </th>
                <th>Charging</th>
                <th>Non-removable Li-Ion 5000 mAh battery</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>Fast charging</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>Quick Charge 4.0+</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>USB Power Delivery 2.0</th>
            </tr>
            <tr>
                <th> </th>
                <th></th>
                <th>Wireless charging</th>
            </tr>




        </table>
    </div> <!-- /body/table specification -->
</div>


<!-- Font-Awesome-Icons-CSS -->
<script src="~/lib/bootstrap/dist/js/lightbox-plus-jquery.min.js"></script>













@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PhoneId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PhoneId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PhoneId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
