@model PhoneInfo.Models.TipUsViewModel

@{
    ViewData["Title"] = "TipUs";
}

<form asp-action="Index" asp-controller="TipUs" method="post">
    <section>
        <div class="row d-flex justify-content-center col-12">
            <div class="text">
                <div class="d-flex justify-content-center">
                    <h1 class="h3 mb-3 font-weight-normal" style="font-size:40px;">Tip Us</h1>
                </div>
                <center style="margin-bottom:10%">
                    <p><font size="4" color="black">So you've got a hot story to share?</font></p>
                    <p><font size="4" color="black">We're always on the lookout for good stories, no matter if it's some leaked product info,</font></p>
                    <p><font size="4" color="black">a new invention, a nice piece of mobile software, a software update for your favorite</font></p>
                    <p><font size="4" color="black">phone or stuff, regarding the market availability and pricing of any mobile phone.</font></p>

                </center>

                <div class="form-group ">
                    <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea asp-for="Content" placeholder="  Content" cols="100" rows="5"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="button_cont" align="center">
                    <button type="submit" class="example_d">Submit</button>
                </div>
            </div>
        </div>
    </section>
</form>








@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TipusId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TipusId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TipusId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@


<style>
    .btn-success {
        background-color: #ec1c24 !important;
    }
</style>